h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 300;
  font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 3em;
  line-height: 1em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

hr {
  border-top: 1px solid #d8d8d8;
  border-bottom: none;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial,
    sans-serif;
  line-height: 1.8em;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #00bcd4;
}

.center {
  text-align: center;
}

header {
  margin-top: 50px;
  margin-bottom: 50px;
}

.docs-example {
  position: relative;
  padding: 3em 1em 1em;
  border: 1px solid #d8d8d8;
  margin: 1.5rem 0 0;
}

.docs-example::before {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1em;
  color: #aaa;
  font-size: smaller;
  font-weight: 500;
  content: 'EXAMPLE';
}

.docs-example::after {
  clear: both;
  content: " ";
  display: table;
}

.docs-example > div > .btn + .btn,
.docs-example > .btn + .btn,
.docs-example > div > .label + .label,
.docs-example > div > .btn-group + .btn-group {
  margin-left: 5px;
}

.docs-example .btn-group-vertical .btn + .btn {
  margin-left: 0 !important;
}

.docs-example .btn-block + .btn-block {
  margin-left: 0;
}

.docs-example .card {
  max-width: 320px;
}

.docs-example + pre {
  border: 1px solid #d8d8d8;
  border-top: none;
  padding: 1em;
  margin-top: 0 !important;
  clear: both;
}

.docs-sidebar .nav-item {
  padding: .2rem 0 .2rem 0;
}

.docs-sidebar .nav-link {
  color: #888;
  padding: .3rem .5rem .3rem 1rem;
  border-left: 2px solid transparent;
}

.docs-sidebar .nav-link:hover {
  color: #777;
}

.docs-sidebar .nav-link.active {
  color: #666;
  border-left: 2px solid #d9534f;
}

.docs-example > .container .row {
  margin-bottom: 1rem;
}

.docs-example > .container .row > [class^="col-"] {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: #e5edf5;
  border: 1px solid #c9c1d5;
  color: #5f5f5f;
}

.docs-example .form-control + .form-control {
  margin-top: .5rem;
}

.docs-example .nav-tabs {
  margin-bottom: 1rem;
}

.docs-component-section {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #d8d8d8;
}

.docs-component-props {
  padding-top: 10px;
}

.Abacus-Filter-Menu-Title {
  text-transform: uppercase;
  font-size: .8em;
}

.Abacus-Sentence-Filter-Panel .Abacus-DateInput {
  border-color: #00bcd4 !important;
}
