{
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "debug": false,
            "modules": "commonjs",
            "targets": {
              "node": "current"
            },
            "useBuiltIns": "usage"
          }
        ],
        "@babel/preset-react",
        "@babel/preset-flow"
      ],
      "plugins": [
        ["@babel/plugin-proposal-class-properties"]
      ]
    },
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "debug": false,
            "modules": "commonjs",
            "targets": {
              "node": "current"
            },
            "useBuiltIns": "usage"
          }
        ],
        "@babel/preset-react",
        "@babel/preset-flow"
      ],
      "plugins": [
        ["@babel/plugin-proposal-class-properties"]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "debug": false,
            "modules": "commonjs",
            "targets": {
              "node": "current"
            },
            "useBuiltIns": "usage"
          }
        ],
        "@babel/preset-react",
        "@babel/preset-flow"
      ],
      "plugins": [
        ["@babel/plugin-proposal-class-properties"]
      ]
    }
  }
}
