{
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "debug": false,
            "modules": "commonjs"
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [["@babel/plugin-proposal-class-properties"]]
    },
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "debug": false,
            "modules": "commonjs"
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [["@babel/plugin-proposal-class-properties"]]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "debug": false,
            "modules": "commonjs"
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [["@babel/plugin-proposal-class-properties"]]
    }
  }
}
