# See http://help.github.com/ignore-files/ for more about ignoring files.

public/ga.js

# dependencies
node_modules

# testing
coverage

# production
dist
build
build.zip
lib

# misc
.DS_Store
.env
npm-debug.log
*.zip